 
.stickynavbtn a {
    color: #fff;
    font-size: 15px;
    transform: rotate(101deg);
    position: fixed;
    right: -3%;
    transform: rotate(89deg);
    top: 50%;
    background-color: #8d0f17;
    padding: 10px 20px;
    /* color: #fff; */
    z-index: 999;
}
.stickynavbtn a:hover,.stickynavbtn a:focus {
    color: #fff;
}
.modal-header {
    border-bottom: 1px solid #ffffff!important;
}