
@media(max-width:560px){
    :root {       
        overflow-x: hidden;
    }
    
    .stickynavbtn a {         
        right: -10%!important;       
    }
}
 a{
  text-decoration: none!important;
 }
 @media(max-width:580px){
    /* body{
        
        padding: 20px!important;
     } */
 }
@media(max-width:768px){
    .carousel-control-next {
        right: 0!important;
    }
    .carousel-control-prev {
        left: 0!important;
    }
    /* body{
        overflow-x: hidden!important;
    } */
}

.slick-prev, .slick-next {
    display: none!important;
}